# Exploratory Data Analysis

## Description

Something blahblahblah

# Imports

In [1]:
import altair as alt
import pandas as pd

# Extracting the data

In [ ]:
data: pd.DataFrame = pd.read_csv(
    "../data/raw/global_graduate_employability_index.csv"
)

,Country,Region,University_Name,Degree_Level,Field_of_Study,Graduation_Year,Employment_Rate_6_Months (%),Employment_Rate_12_Months (%),Average_Starting_Salary_USD,Top_Industry,Job_Role,Skill_1,Skill_2,Skill_3,Skill_Demand_Score (1–100),Remote_Work_Availability (%),Employer_Reputation_Score (1–100),Year
0,USA,North America,Harvard,Bachelor,Engineering,2017,79.3,85.6,66700,Manufacturing/Construction,Robotics Engineer,AutoCAD,Lean Six Sigma,MATLAB,69,8.8,66,2017
1,USA,North America,MIT,Bachelor,Engineering,2023,83.8,87.9,84500,Manufacturing/Construction,Civil Engineer,Lean Six Sigma,AutoCAD,MATLAB,71,65.4,63,2023
2,Israel,Middle East & Africa,Technion,Master,Healthcare & Medicine,2019,81.7,83.2,88300,Healthcare,Public Health Specialist,Clinical Research,Diagnostics,Patient Care,52,5.0,74,2019
3,India,Asia-Pacific,IIT Bombay,Master,Computer Science,2016,84.2,92.1,21000,Technology,AI Researcher,DevOps,Python,Cloud Computing,69,10.3,48,2016
4,South Africa,Middle East & Africa,University of Cape Town,PhD,Business & Finance,2023,83.6,86.3,48600,Finance/Consulting,Management Consultant,Financial Modeling,Data Analysis,Market Research,69,64.0,65,2023

# Summary statistics

In [5]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            3500 non-null   str
 1   Region                             3500 non-null   str
 2   University_Name                    3500 non-null   str
 3   Degree_Level                       3500 non-null   str
 4   Field_of_Study                     3500 non-null   str
 5   Graduation_Year                    3500 non-null   int64
 6   Employment_Rate_6_Months (%)       3500 non-null   float64
 7   Employment_Rate_12_Months (%)      3500 non-null   float64
 8   Average_Starting_Salary_USD        3500 non-null   int64
 9   Top_Industry                       3500 non-null   str
 10  Job_Role                           3500 non-null   str
 11  Skill_1                            3500 non-null   str
 12  Skill_2                            3500 non-null   str
 13  Skill_3                            3500 non-null   str
 14  Skill_Demand_Score (1–100)         3500 non-null   int64
 15  Remote_Work_Availability (%)       3500 non-null   float64
 16  Employer_Reputation_Score (1–100)  3500 non-null   int64
 17  Year                               3500 non-null   int64
dtypes: float64(3), int64(5), str(10)
memory usage: 492.3 KB

In [6]:
data.describe()

,Graduation_Year,Employment_Rate_6_Months (%),Employment_Rate_12_Months (%),Average_Starting_Salary_USD,Skill_Demand_Score (1–100),Remote_Work_Availability (%),Employer_Reputation_Score (1–100),Year
count,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000,3500.000000
mean,2020.021143,85.735486,90.409857,64668.000000,65.187429,40.060886,69.742286,2020.021143
std,3.198601,6.986723,6.743580,30727.510224,14.710632,30.318816,14.243037,3.198601
min,2015.000000,65.500000,68.000000,-1200.000000,30.000000,5.000000,40.000000,2015.000000
25%,2017.000000,80.700000,85.500000,39400.000000,55.000000,10.600000,60.000000,2017.000000
50%,2020.000000,85.600000,90.600000,63900.000000,64.000000,37.300000,70.000000,2020.000000
75%,2023.000000,90.900000,96.000000,85400.000000,75.000000,68.300000,79.250000,2023.000000
max,2025.000000,99.000000,100.000000,189400.000000,100.000000,90.000000,100.000000,2025.000000